<div class="container">
    <h1>Pedido #<%= @order.id %></h1>
    <div>
        <table class="table shadow">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Address</th>
                    <th>Supplier</th>
                <tr>
            <thead>
            <tbody>
                <% @order.items.each do |item| %>
                    <tr>
                        <td><%= item.customer.name %></td>
                        <td><%= item.product.description %></td>
                        <td><%= number_to_currency(item.product.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.supplier.address %></td>
                        <td><%= item.supplier.name %></td>
                    </tr>
                <% end %>
                <tr>
                <td></td>
                <td><strong>Total: </strong></td>
                <td><%= number_to_currency(@order.total, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
                <td></td>
                <td></td>
                <td></td>
                <tr>
            </tbody>
        </table>
        <%= link_to "Voltar", orders_path, class: "btn btn-info" %>
    <div>
</div>